.movies-cards {
  max-width: calc(1280px - (70px * 2));
  padding: 50px 0 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 0;
}

.movies-cards_saved {
  padding-bottom: 180px;
}

.movies-cards__message {
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.movies-cards__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 30px;
  row-gap: 32px;
  margin: 0 0 50px;
  padding: 0;
  list-style: none;
  justify-items: center;
}

.movies-cards__more-button {
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 11px 0 9px 0;
  opacity: 1;
  transition: opacity 1s;
}

.movies-cards__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .movies-cards {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .movies-cards_saved {
    padding-bottom: 90px;
  }
  .movies-cards__list {
    column-gap: 24px;
    row-gap: 35px;
    margin: 0 0 80px;
  }
}

@media screen and (max-width: 360px) {
  .movies-cards {
    width: calc(100% - 20px);
    padding: 50px 0 80px;
  }
  .movies-cards_saved {
    padding-bottom: 90px;
  }
  .movies-cards__list {
    row-gap: 16px;
  }
}
