.hamburger-menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.hamburger-menu_opened {
  visibility: visible;
  opacity: 1;
}

.hamburger-menu__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 67.7%;
  height: 100%;
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu__menu {
  width: 100%;
  height: 100%;
  position: relative;
}

.hamburger-menu__close-button {
  background-image: url(../../images/menu-close-button.svg);
  width: 31px;
  height: 31px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 22.44px;
  right: 22.44px;
  opacity: 1;
  transition: opacity 1s;
}

.hamburger-menu__close-button:hover {
  opacity: 0.8;
}

.hamburger-menu__links {
  max-width: 340px;
  height: calc(100vh - 251px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 159px 0 92px;
  margin: 0 auto;
  row-gap: 22px;
  list-style: none;
}

.hamburger-menu__item {
  min-height: 28px;
  margin: 0;
  padding: 0 0 4px;
  box-sizing: border-box;
}

.hamburger-menu__item:last-child {
  margin-top: auto;
  justify-self: flex-end;
  padding: 0;
}

.hamburger-menu__link {
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0 0 4px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 1s;
}

.hamburger-menu__link:hover {
  opacity: 0.7;
}

.hamburger-menu__link_active {
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 480px) {
  .hamburger-menu__container {
    width: 100%;
  }
  .hamburger-menu__close-button {
    top: 13.44px;
    right: 13.44px;
  }
  .hamburger-menu__links {
    max-width: 300px;
    height: calc(100vh - 192px);
    padding: 144px 0 48px;
    row-gap: 15px;
  }
  .hamburger-menu__item {
    min-height: 31px;
    padding: 0 0 7px;
  }
  .hamburger-menu__link {
    padding: 0 0 7px;
  }
}
