.promo {
  background-color: #073042;
  padding: 75px 0;
}

.promo__container {
  display: flex;
  flex-direction: row-reverse;
  width: 89vw;
  max-width: calc(1280px - (70px * 2));
  margin: 0 auto;
  column-gap: 190px;
}

.promo__logo {
  width: 310px;
  height: 304px;
  object-fit: contain;
}

.promo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.promo__title {
  max-width: 640px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 0 0 36px 0;
  padding: 0;
}

.promo__subtitle {
  max-width: 310px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 146px 0;
  padding: 0;
  opacity: 0.5;
}

.promo__nav-link {
  display: block;
  min-width: 129px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 9px 19px;
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  opacity: 1;
  transition: opacity 1s;
}

.promo__nav-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .promo {
    padding: 140px 0 76px;
  }
  .promo__container {
    width: 88.5vw;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
  }
  .promo__text {
    align-items: center;
    text-align: center;
  }
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 22px 0;
  }
  .promo__subtitle {
    max-width: 260px;
    margin: 0 0 92px 0;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    padding: 70px 0 30px;
  }
  .promo__container {
    width: 93.75vw;
    row-gap: 44px;
  }
  .promo__logo {
    width: 210px;
    height: 206px;
  }
  .promo__title {
    max-width: 300px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
    margin: 0 0 24px 0;
  }
  .promo__subtitle {
    margin: 0 0 80px 0;
  }
}
