.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 20px;
}

.navigation__links_unauth {
  column-gap: 30px;
}

.navigation__item:nth-child(3) {
  margin-left: 30px;
}

.navigation__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 1s;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__signup-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 1s;
}

.navigation__signup-link:hover {
  opacity: 0.7;
}

.navigation__signin-link {
  display: block;
  min-width: 76px;
  background-color: #3ddc84;
  border-radius: 3px;
  padding: 8px 20px;
  box-sizing: border-box;
  margin: 0;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  opacity: 1;
  transition: opacity 1s;
}

.navigation__signin-link:hover {
  opacity: 0.8;
}
