.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation__links {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 0;
  padding: 0;
  list-style: none;
  column-gap: 20px;
}

.navigation__link {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: right;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 1s;
  }

.navigation__link:hover {
  opacity: 0.7;
}
