.search {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 0 43px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__form {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* row-gap: 26px; */
  align-items: flex-start;
}

.search__search-bar {
  width: 100%;
  position: relative;
  margin-bottom: 6px;
}

.search__form-input {
  width: 100%;
  height: 72px;
  background: transparent;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0 135px 0 25px;
  z-index: 0;
}

.search__form-input::placeholder {
  color: #8b8b8b;
}

.search__form-button {
  min-width: 100px;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 0;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  margin: 0;
  padding: 17px 0;
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
  opacity: 1;
  transition: opacity 1s;
}

.search__form-button:hover {
  opacity: 0.8;
}

.search__error {
  display: block;
  max-width: 100%;
  min-height: 12px;
  color: #ee3465;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

@media screen and (max-width: 1200px) {
  .search {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .search {
    width: 92.2vw;
    padding: 70px 0 51px;
  }
}

@media screen and (max-width: 480px) {
  .search {
    width: 91.25vw;
    padding: 70px 0 63px;
  }
  .search__form {
    row-gap: 30px;
  }
  .search__form-input {
    height: 56px;
    font-size: 16px;
    line-height: 16px;
    padding: 0 98px 0 12px;
  }
  .search__form-button {
    min-width: 80px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    padding: 13px 0;
  }
  .search__error {
    margin-bottom: 12px;
  }
}
