.header {
  display: flex;
  margin: 0 auto;
}

.header_landing {
  background-color: #073042;
}

.header__container {
  display: flex;
  width: 89vw;
  max-width: calc(1280px - (70px * 2));
  margin: 0 auto;
  min-height: 74px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo-link {
  display: block;
  line-height: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 1s;
}

.header__logo:hover {
  opacity: 0.7;
  }