.header {
  display: flex;
  margin: 0 auto;
}

.header_landing {
  background-color: #073042;
}

.header__container {
  display: flex;
  width: 89vw;
  max-width: calc(1280px - (70px * 2));
  margin: 0 auto;
  min-height: 74px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo-link {
  display: block;
  line-height: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 1s;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__hamburger-menu-btn {
  background-image: url(../../images/hamburger-menu-icon.svg);
  width: 44px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  margin-left: auto;
  opacity: 1;
  transition: opacity 1s;
}

.header__hamburger-menu-btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 769px) {
  .header__hamburger-menu-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    width: 92vw;
  }
}

@media screen and (max-width: 320px) {
  .header__container {
    width: 91.25vw;
  }
}
