.about-project {
  width: 89vw;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 110px 0;
}

.about-project__heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-project__heading::after {
  display: block;
  content: " ";
  border-bottom: 1px solid #dadada;
  padding-top: 23px;
}

.about-project__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 40px;
  row-gap: 26px;
  box-sizing: border-box;
  margin: 0;
  padding: 70px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-project__subheading {
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
  padding: 0;
}

.about-project__subheading:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

.about-project__subheading:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

.about-project__paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.about-project__paragraph:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}

.about-project__paragraph:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
}

.about-project__chart {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  gap: 0;
  margin: 0;
  padding: 110px 0 0;
  text-align: center;
}

.about-project__backend-chart-line {
  background-color: #3ddc84;
  min-width: 100px;
  color: #000;
  grid-column: 1;
  grid-row: 1;
}

.about-project__chart-text {
  margin: 0;
  padding: 9px 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: normal;
}

.about-project__chart-caption {
  margin: 0;
  padding-top: 14px;
  font-family: "Inter", "Arial", sans-serif;
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-project__chart-caption:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}

.about-project__frontend-chart-line {
  background-color: #303030;
  color: #ffffff;
  grid-column: 2;
  grid-row: 1;
}

.about-project__chart-caption:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 1024px) {
  .about-project {
    width: 87vw;
    padding: 90px 0;
  }
  .about-project__description {
    column-gap: 30px;
    row-gap: 22px;
  }
  .about-project__paragraph {
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__chart {
    grid-template-columns: 21% 79%;
    padding: 93px 0 0;
  }
  .about-project__chart-caption {
    font-family: "Suisse Intl", "Arial", sans-serif;
  }
}
