.footer {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 79px 0 20px;
}

.footer__heading {
  font-family: "Inter", "Arial", sans-serif;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 20px;
  padding: 0;
}

.footer__heading::after {
  display: block;
  content: " ";
  border-bottom: 1px solid #424242;
  padding-top: 20px;
}

.footer__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 20px;
}

.footer__link {
  font-family: "Inter", "Arial", sans-serif;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 1s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .footer {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 92.2vw;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 93.75vw;
  }
  .footer__heading {
    font-size: 12px;
    margin: 0 0 30px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__links {
    flex-direction: column;
    row-gap: 12px;
    margin: 0 0 30px;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__copyright {
    color: #8b8b8b;
    font-size: 12px;
  }
}
