.login {
  display: flex;
  max-width: 396px;
  flex-direction: column;
  padding: 70px 0;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 480px) {
  .login {
    max-width: 260px;
    padding: 56px 0 30px;
  }
}
