@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/AccountLink/AccountLink.css);
@import url(./components/Main/Main.css);
@import url(./components/Promo/Promo.css);
@import url(./components/LandingHeading/LandingHeading.css);
@import url(./components/AboutProject/AboutProject.css);
@import url(./components/Techs/Techs.css);
@import url(./components/AboutMe/AboutMe.css);
@import url(./components/Portfolio/Portfolio.css);
@import url(./components/FilterCheckbox/FilterCheckbox.css);
@import url(./components/SearchForm/SearchForm.css);
@import url(./components/Movies/Movies.css);
@import url(./components/MoviesCardList/MoviesCardList.css);
@import url(./components/MoviesCard/MoviesCard.css);
@import url(./components/Footer/Footer.css);

body {
  background-color: #202020;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}