@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);

body {
  background-color: #202020;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}