.form-tooltip {
  display: block;
  width: 100%;
  min-height: 14px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 20px;
}

.form-tooltip_type_error {
  color: #ff004c;
}

.form-tooltip_type_success {
  color: #3ddc84;
}
