.not-found-page {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  padding: 246px 0 60px;
  margin: 0 auto;
  align-items: center;
}

.not-found-page__heading {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 5px;
  padding: 0;
}

.not-found-page__caption {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 184px;
  padding: 0;
}

.not-found-page__back-button {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #4285f4;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  transition: opacity 1s;
  margin: 0;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.7;
}
